*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: helvetica;
}
main{
    margin: auto;
    max-width: 820px;
    height: 835px;
    background: red;
}
nav{
    box-sizing: border-box;
    width: 200px;
    float: left;
    padding-left: 50px;
    padding-top: 10px;
}
.list{
    height: auto;
    width: 120px;
    border-radius: 4px;
    margin-top: 15px;
}
.text{
    padding: 15px 15px 5px 15px;
    color:black;
    background: white;
    text-align: justify;
    margin-left: 205px;
    height: 835px;
}
header{
    background: green;
    text-align: center;
    padding: 8px;
    font-size: 26px;
}
footer{
    background: black;
    text-align: center;
    font-size: 18px;
    padding: 4px;
    clear: both;
}
::selection{
    background: green;
    color: white;
}
.list:hover{
    background: green;
}
@media(max-width: 768px){
    main{
        height: auto;
    }
    .text{
        height: auto;
    }
}